{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">About</h1>
      <p class="lead">Martin Teh. Final Year Mechanical Engineering Student at Imperial College London.</p>
      <p class="lead">Proud to share a mixture of mechanical design and computational projects.</p>
    </div>
  </div>

  <div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <h1 class="display-4">Github</h1>
      <p>Have a look at some of the projects I've done!</p>
      <small class="text-muted">
        <a class="ml-2" href="https://github.com/martinteh">https://github.com/martinteh</a>
    </small>
    </div>
    <div class="col-4">
      <h1 class="display-4">LinkedIn</h1>
      <p>Check out my academic, professional and voluntary experience on LinkedIn!</p>
      <small class="text-muted">
        <a class="ml-2" href="https://www.linkedin.com/in/martin-teh/">https://www.linkedin.com/in/martin-teh/</a>
    </small>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h1 class="display-4">Academic and Personal Projects</h1>
  <br>
  <div class="row justify-content-start">
    <div class="col-4">
      <h2>StonkMarket Crypto Bot</h2>
      <p>A summer personal development project where I designed, made and tested a bot web application to trade BTCUSD on the Binance Testnet Exchange. Used HTML and Bootstrap for the front-end and Python (Flask) for the back-end.</p>
      
      <small class="text-muted">
        <a class="ml-2" href="https://github.com/martinteh/Trading_Bot">https://github.com/martinteh/Trading_Bot</a>
    </small>
    <img src="https://i.gyazo.com/0c18db0832668694e3a1a325a8d000f8.png" class="img-thumbnail" alt="">
    </div>
    <div class="col-4">
      <h2>Mine, Search and Rescue Challenge</h2>
      <p>Developed an autonomous robot that can navigate a "mine" using a series of instructions coded in coloured cards and return to its starting position.</p>
      <small class="text-muted">
        <a class="ml-2" href="https://github.com/martinteh/Embedded_C_Final_Project">https://github.com/martinteh/Embedded_C_Final_Project</a>
    </small>
    <img src="" class="img-thumbnail" alt="...">
    </div>

    <div class="row justify-content-start">
      <div class="col-4">
        <h2>Automatic daylight saving time LED (street-lamp application).</h2>
        <p>Developed a fully automated solution with a microcontroller to respond to ambient light (eg. turn on at dusk and turn off at dawn). Also implemented a solution to switch the lights off in the early hours of the morning to save money and energy,</p>
        <small class="text-muted">
          <a class="ml-2" href="https://github.com/martinteh/Embedded_C_Individual_Project">https://github.com/martinteh/Embedded_C_Individual_Project</a>
      </small>
      <img src="https://c.tenor.com/wfV-R6OsqloAAAAd/moon-lamp.gif" class="img-thumbnail" alt="...">
      </div>
      <div class="col-4">
        <h2>Metalpod Miniature Satellite Deployment System</h2>
        <p>Designed, manufactured and tested a deployment system that would protect and launch a 3U CubeSat Miniature Satellite.</p>
        <small class="text-muted">
          <a class="ml-2" href="https://1drv.ms/b/s!AsJnp5xwsoQM0hAeGzqIcc-j9vEJ?e=dk3AXP">Design Report</a>
          <br>
          <a class="ml-2" href="https://1drv.ms/b/s!AsJnp5xwsoQM0hHN-JgbJQh49wJ6?e=9KZcpe">Testing Report</a>
      </small>
      <img src="https://i.gyazo.com/38cb99007dd19b659637ed9496150ead.png" class="img-thumbnail" alt="...">
      </div>

  </div>
</div>
{% endblock %}
