{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">About</h1>
      <p class="lead">Martin Teh. Final Year Mechanical Engineering Student at Imperial College London.</p>
      <p class="lead">Proud to share a mixture of mechanical design and computational projects.</p>
    </div>
  </div>

  <div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <h1 class="display-4">Github</h1>
      <p>Have a look at some of the projects I've done!</p>
      <small class="text-muted">
        <a class="ml-2" href="https://github.com/martinteh">https://github.com/martinteh</a>
    </small>
    </div>
    <div class="col-4">
      <h1 class="display-4">LinkedIn</h1>
      <p>Check out my academic, professional and voluntary experience on LinkedIn!</p>
      <small class="text-muted">
        <a class="ml-2" href="https://www.linkedin.com/in/martin-teh/">https://www.linkedin.com/in/martin-teh/</a>
    </small>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h1 class="display-4">Academic and Personal Projects</h1>
  <br>
  <div class="row justify-content-start">
    <div class="col-4">
      <h2>StonkMarket Crypto Bot</h2>
      <p>A summer personal development project where I designed, made and tested a bot web application to trade BTCUSD on the Gemini Exchange. Used HTML and Bootstrap for the front-end and Python (Flask) for the back-end.</p>
      <small class="text-muted">
        <a class="ml-2" href="#"></a>
    </small>
    </div>
    <div class="col-4">
      <h2>Mine, Search and Rescue Challenge</h2>
      <p>A third year Embedded C for Microcontrollers project.</p>
      <small class="text-muted">
        <a class="ml-2" href="#">#</a>
    </small>
    </div>

    <div class="row justify-content-start">
      <div class="col-4">
        <h2>Automatic daylight saving time LED (street-lamp application).</h2>
        <p></p>
        <small class="text-muted">
          <a class="ml-2" href="#"></a>
      </small>
      </div>
      <div class="col-4">
        <h2>Metalpod Miniature Satellite Deployment System</h2>
        <p>Check out my academic, professional and voluntary experience on LinkedIn!</p>
        <small class="text-muted">
          <a class="ml-2" href="https://www.linkedin.com/in/martin-teh/">https://www.linkedin.com/in/martin-teh/</a>
      </small>
      </div>

  </div>
</div>
{% endblock %}
