{% extends 'layout.html' %}

{% block body %}

<div id="tvchart"></div>

<div class="content-section">
  

    <h1 style="text-align: center">BTCUSD Bot Tracker and Dashboard</h1> 
    
    <a href="/startbot">Start Bot</a> <a href="/stopbot">Stop Bot</a> <a href="/botdashboard">Click Here After Starting Bot</a>
    {% if rsi|length < 1 %}
    
    {% else %}
    
    <p> RSIs calculated are {% for value in rsi %} {{ value }} {% endfor %} </p>
    
    {% endif %}

    <div id="chart"></div>

    {% if form|length < 1 %}
    <h4 style="text-align: center">You haven't bought any stocks recently.</h4>
    {% else %}

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Buy/Sell</th>
            <th scope="col">Time Bought</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in form %}
            <tr>
              <td>{{ entry.amountBought }}</td>
              <td>{{ entry.unitCost }}</td>
              <td>{{ entry.buySell }}</td>
              <td>{{ entry.dateTime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
  </form>


  <form action="/botdashboard" method="POST">
    <input type="submit" value="Buy/Sell Testing Button">
  </form> 

  <a href="/buy">Buy</a>
  <a href="/sell">Sell</a>
  <a href="/delete">Delete</a>
 
  <p> Average price for BTC in USD is {{ unitPrice }}.</p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Amount in Account</th>
      </tr>
    </thead>
    <tbody>
      {% for balance in my_balances %}
        <tr>
          <td>{{ balance['asset'] }}</td>
          <td>{{ balance['free'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- <script src="{{ url_for('static', filename='chart.js') }}"></script> -->
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}