{% extends 'layout.html' %}

{% block body %}

<div class="content-section">
    <h1 style="text-align: center">Bot Tracker and Dashboard</h1> 
    {% if form|length < 1 %}
    <h4 style="text-align: center">You haven't bought any stocks recently.</h4>
    {% else %}

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Amount Bought</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Buy/Sell</th>
            <th scope="col">Time Bought</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in form %}
            <tr>
              <td>{{ entry.amountBought }}</td>
              <td>{{ entry.unitCost }}</td>
              <td>{{ entry.buySell }}</td>
              <td>{{ entry.dateTime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
  </form>


  <form action="/botdashboard" method="POST">
    <input type="submit" value="Buy/Sell Testing Button">
  </form> 
   
  <a href="/delete">Delete</a>

</div>



{% endblock %}